@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Manrope", sans-serif;    
    display: flex;
    background-color: #EDEDF2;
    width: 100%;
    height: 100%;
    min-height: 100svh;
    color: #0C1D3D;
}

a, button {
    text-decoration: none;
    cursor: pointer;
    text-wrap: nowrap;
    color: #0C1D3D;
    font-weight: 600;
}

button {
    justify-content: space-between;
    width: 100%;
    border: none;
}


p {
    font-size: 14px;
    font-weight: 600;
}

h1, .h1 {
    font-size: 40px;
    font-weight: 800;
}

h4 {
    font-weight: 600;
    font-size: 18px;
    color: #AFB6C7;
}

h3 {
    font-weight: 700;
    font-size: 20px ;
}

.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 24px;
    justify-content: space-between;
    height: 100svh;
    width: auto;
}

.sidebar__space {
    position: relative;
    flex: 0 0 auto;
}

.top {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.datetime {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.gray-color {
    color: #AFB6C7;
}

.blue-color {
    color: #1964FA;
}

.current-date {
    font-weight: 600;
}

.page{
    display: flex;
    align-items: center;
    border-radius: 16px;
    padding: 14px 18px;
    gap: 12px;
}

.bottom {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}


/* ВОПРОС */
.active {
    background-color: #F7F9FC; /* Цвет для выделенной ссылки */
    color: #0C1D3D; /* Цвет текста */
    font-size: 16px;
    font-weight: 600;
}


.kanban-container {
    display: flex;
    overflow-x: auto;
    padding: 24px;
    gap: 12px;
    background-color: #F7F9FC;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-width: 380px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 26px;
    border-radius: 24px;
    gap: 8px;
}

.text_and_img {
    gap: 8px;
    display: flex;
}

.gap-32 {
    gap: 32px;
}

.about_person {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.gap-8 {
    gap: 8px;
}

.skills {
    display: flex;
    gap: 4px;
}

.skill {
    display: flex;
    padding: 6px 14px;
    gap: 10px;
    border-radius: 100px;
    background-color: #F7F9FC;
}

.inf_hr_history {
    display: flex;
    gap: 4px;
}

.inf_hr_history img {
    height: 18px;
}

.right_block {
    width: 100%;
    height: auto;
    display: flex;
    padding: 24px;
    gap: 12px;
}

.candidate {
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 26px;
    gap: 24px;
    border-radius: 36px;
}

.resume-photo {
    border-radius: 12px;
    height: 200px;
    aspect-ratio: 1;
}

.photo-card {
    border-radius: 4px;
    height: 62px;
    aspect-ratio: 1;
}

.resume-photo img, .photo-card img {
    max-height: 100%;
    max-width: 100%;
}

.info-block {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.info-pills {
    gap: 16px;
    display: flex;
}

.resume_inf_block {
    display: flex;
    background-color: #F7F9FC;
    padding: 14px 18px;
    gap: 12px;
    align-items: center;
    border-radius: 16px;
    width: 100%;
}

.bk-blue{
    background-color: #1964FA;
    color: #F7F9FC;
}

.education {
    padding: 14px 18px;
    gap: 12px;
    display: flex;
    border: 2px solid #F7F9FC;
    border-radius: 16px;
}

.files {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 325px;
    gap: 24px;
    padding: 26px;
    border-radius: 32px;
}

.file {
    display: flex;
    width: 100%;
}

.right {
    margin: 0 0 0 auto;
    width: auto;
}

.black-color {
    color: #0C1D3D;
}

.advice {
    display: flex;
    gap: 8px;
}





#toggle-button {
    transition: opacity 0.3s ease-in-out; /* Плавный переход */
    opacity: 1; /* Полная видимость по умолчанию */
    background: none; /* Убираем фон кнопки, если есть */
    border: none; /* Убираем рамку кнопки, если есть */
    cursor: pointer; /* Указатель курсора на кнопке */
}

.sidebar.collapsed #toggle-button {
    opacity: 0; /* Полная прозрачность при сворачивании */
    pointer-events: none; /* Отключение взаимодействия с кнопкой */
}





/* Скрываем логотип по умолчанию */
.logo-container {
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

/* Показываем логотип в свернутом состоянии */
.sidebar.collapsed .logo-container {
    display: flex;
    opacity: 1;
}

/* Скрываем блок с датой и временем в свернутом состоянии */
.sidebar.collapsed .datetime {
    display: none;
}




/* Плавный переход для изменения ширины и opacity */
.sidebar {
    transition: width 0.5s ease, padding 0.5s ease;
}

.sidebar.collapsed {
    width: 80px; /* Узкая ширина в свернутом состоянии */
    padding: 10px; /* Уменьшение отступов */
}

.top .datetime,
.page a {
    transition: opacity 0.5s ease ease-in-out 0.1s; /* Плавное скрытие элементов */
}

.sidebar.collapsed .top .datetime #currentTime,
.sidebar.collapsed .top .datetime #currentDate,
.sidebar.collapsed .page a {
    opacity: 0; /* Полное скрытие времени, даты и текста ссылок */
    pointer-events: none; /* Отключение кликов */
}

.sidebar.collapsed .top .datetime .logo {
    display: inline; /* Показ логотипа */
    opacity: 1; /* Полная видимость логотипа */
    transition: opacity 0.5s ease; /* Плавный переход видимости логотипа */
}

.page img {
    width: 24px; 
    height: 24px;
    transition: margin 0.5s ease; /* Плавный переход для выравнивания значков */
}

.sidebar.collapsed .page img {
    margin: 0 auto; /* Центрирование значков */
}

.sidebar.collapsed .page img, 
.sidebar .page img {
    transition: width 0.5s ease, height 0.5s ease; /* Плавное изменение размера значков */
}