<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Канбан{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icons/logo.png') }}" type="image/x-icon">
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="pop-up" id="popMain">
            <div id="pop" class="pop-up__table">
                <div class="pop-up__table__block">
                    <h1>Здравствуйте</h1>
                    <p class="gray-color">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </p>
                </div>
                <div class="pop-up__table__btn-block">
                    <a href="/signup" class="btn btn_blue w100">Регистрация</a>
                    <a href="/signin" class="btn btn_gray w100">Вход</a>
                </div>
            </div>
            <button id="pop2" onclick="close_pop()" class="pop-up__close">
                <img src="{{ url_for('static', filename='icons/close.svg') }}" alt="close">
            </button>
        </div>
        {% endif %}
    {% endwith %}
    
    <div class="sidebar__space">
        <div class="sidebar" id="sidebar">  
            <div class="top">
                <div class="datetime" id="datetime">
                    <img src="/static/icons/logo.svg" alt="Логотип" class="logo" style="display: none;">
                    <time id="currentTime" class="h1" style="font-variant-numeric: tabular-nums;"></time>
                    <div class="date">
                        <p id="currentDate" class="current-date gray-color"></p>
                    </div>
                </div>
                <a href="/" class="{% if request.path == '/' %}active{% endif %} page gray-color">
                    <img src="/static/icons/note_stack.svg" alt="Канбан доска">
                    <span id="toggle-button">Канбан-доска</span>
                </a>
                <a href="/create" class="{% if request.path == '/create' %}active{% endif %} page gray-color">
                    <img src="/static/icons/add_circle.svg" alt="Создание записей">
                    <span id="toggle-button">Создание записей</span>
                </a>
                <a href="/info" class="{% if request.path == '/info' %}active{% endif %} page gray-color">
                    <img src="/static/icons/help.svg" alt="Информация">
                    <span id="toggle-button">Информация</span>
                </a>
            </div>
            <div class="bottom">
                <button class="page active active_roll" onclick="toggleSidebar()">
                    <span id="toggle-button">Свернуть</span>
                    <img id="toggle-arrow" src="/static/icons/arrow_cool_down.svg" alt="0">
                </button>
                <a href="" class="page active">
                    <img src="/static/icons/icon.svg" alt="Профиль">
                    <span id="toggle-button">Анастасия К</span>
                </a>
            </div>
        </div>  
    </div>  

    <!-- Контент -->
    {% block content %}{% endblock %}
    
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
