<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Канбан{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <link rel="icon" href="{{ url_for('static', filename='icons/logo.png') }}" type="image/x-icon">
    <noscript>
        <div style="color: red; font-size: 20px; text-align: center;">
            JavaScript is disabled in your browser. Please enable JavaScript to view this site properly.
        </div>
    </noscript>
</head>
<body>
    <div class="pop-up" id="popNonMain" style="display: none;">
        <div id="pop" class="pop-up__table">
            <div class="pop-up__table__block">
                <h1>Здравствуйте</h1>
                <p class="gray-color">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </p>
                <div id="popupButtonContainer">
                    <a id="popup-button" href="" class="btn btn_gray">Перейти к записи</a>
                </div>
            </div>
        </div>
        <button id="pop2" onclick="close_pop_2()" class="pop-up__close">
            <img src="{{ url_for('static', filename='icons/close.svg') }}" alt="close">
        </button>
    </div>
    
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="pop-up" id="popMain">
                <div id="pop" class="pop-up__table">
                    <div class="pop-up__table__block">
                        <h1>Здравствуйте</h1>
                        <p class="gray-color">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </p>
                    </div>
                </div>
                <button id="pop2" onclick="close_pop()" class="pop-up__close">
                    <img src="{{ url_for('static', filename='icons/close.svg') }}" alt="close">
                </button>
            </div>
        {% endif %}
    {% endwith %}
    <div class="sidebar__space">
        <div class="sidebar" id="sidebar">
            <div class="top">
                <div class="datetime" id="datetime">
                    <img src="/static/icons/logo.svg" alt="Логотип" class="logo">
                    <time id="currentTime" class="h1" style="font-variant-numeric: tabular-nums;"></time>
                    <div class="date">
                        <p id="currentDate" class="current-date gray-color"></p>
                    </div>
                </div>
                <a href="/" class="{% if request.path == '/' %}active{% endif %} page gray-color dymanic" >
                    <img src="/static/icons/note_stack.svg" alt="Канбан доска">
                    <span>Канбан-доска</span>
                </a>
                <a href="/create" class="{% if request.path == '/create' %}active{% endif %} page gray-color dymanic">
                    <img src="/static/icons/add_circle.svg" alt="Создание записей">
                    <span>Создание записей</span>
                </a>
            </div>
            <div class="bottom">
                <button onclick="updateParentWidth()" class="page  active_roll" id="toggle_active_roll">
                    <span>Свернуть</span>
                    <img id="toggle-arrow" src="/static/icons/arrow_cool_down.svg" alt="0">
                </button>
                <a href="javascript:void(0);" class="page active_roll" id="profile-name">
                    <img src="/static/icons/icon.svg" alt="Профиль">
                    <span>{{ user_name }}</span>
                </a>
            </div>
        </div>
    </div>
    
    

    <!-- Контент -->
    {% block content %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.7.1.slim.js" integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script src="{{ url_for('static', filename='menu.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/locale/ru.js"></script>
</body>
</html>
