{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="kanban-container">
    <div class="column">
        <h4>Стакан резюме</h4>
        <a href="/resume" class="card">
            <div class="text_and_img">
                <div class="photo-card">
                    <img src="/static/img/1.png" alt="">
                </div>
                <div class="about_person">
                   <h3>Иван <span class="gray-color">Иванович</span></h3>
                    <p>Фронтенд разработчик</p> 
                </div>
            </div>
            <div class="skills">
                <div class="skill">
                    <p>20 лет опыта</p>
                </div>
                <div class="skill">
                    <p>HTML</p>
                </div>
                <div class="skill">
                    <p>CSS</p>
                </div>
                <div class="skill">
                    <p>JS</p>
                </div>
            </div>
            <div class="inf_hr_history">
                <img src="/static/icons/icon.svg" alt="">
                <p class="gray-color">Виктор Викторович</p>
            </div>
            <div class="inf_hr_history">
                <img src="/static/icons/history.svg" alt="">
                <p class="gray-color">3 дня назад</p>
            </div>
        </a>
        <div class="card">Петр Артурович<br>Backend разработчик</div>
        <div class="card">Аня Сергеевна<br>Аналитик</div>
    </div>
    <div class="column">
        <h4>Теплый контакт</h4>
        <div class="card">Евгений Михайлович<br>Ethnologist</div>
    </div>
    <div class="column">
        <h4>Скрининг</h4>
        <div class="card">Артур Артурович<br>UI/UX</div>
    </div>
    <div class="column">
        <h4>Интервью</h4>
        <div class="card">Петр Артурович<br>Digital marketing</div>
    </div>
    <div class="column">
        <h4>Проверка СБ</h4>
        <div class="card">Петр Артурович<br>Digital marketing</div>
    </div>
    <div class="column">
        <h4>Оффер</h4>
        <div class="card">Петр Артурович<br>Digital marketing</div>
    </div>
</div>
{% endblock %}
