{% extends 'base.html' %}

{% block title %}Резюме{% endblock %}

{% block content %}
    <div class="right_block">
        <div class="candidate">
            <div class="text_and_img gap-32">
                <div class="resume-photo">
                    <img class="avatar-preview" src="{{ resume.photo }}" alt="photo">
                </div>
                <div class="about_person gap-8">
                    <h1>{{ resume.surname }} {{ resume.name }} {{ resume.patronymic }}</h1>
                    <h3 class="blue-color">{{ resume.position }}</h3>
                    <h4>Ожидаемая ЗП: {{ resume.salary }}</h4>
                </div>
            </div>
            <div class="info-block">
                <div class="info-pills">
                    <div class="resume_inf_block bk-blue">
                        <p>{{ resume.experience }} лет опыта</p>
                    </div>
                    <div class="resume_inf_block bk-blue">
                        <p id="dateOfBirth" data-date="{{ resume.dateBirth }}"></p>
                    </div>                
                </div>
                <div class="info-pills">
                    <div class="resume_inf_block">
                        <img src="/static/icons/call.svg" alt="telephone">
                        <p>{{ resume.telephone }}</p>
                    </div>
                    <div class="resume_inf_block">
                        <img src="/static/icons/email.svg" alt="">
                        <p>{{ resume.email }}</p>
                    </div>
                </div>
            </div>
            <div class="skills" id="skills">
                {% for skill in skills %}
                    <div class="skill skill_del" data-resume-id="{{skill['id']}}">
                        {{skill["name"]}}
                    </div>

                {% endfor %}
            </div>

            <div class="education">
                <img src="/static/icons/school.svg" alt="">
                <p class="gray-color">{{ resume.education }}</p>
            </div>
            <div class="inf_hr_history">
                <img src="/static/icons/icon.svg" alt="">
                <p class="gray-color" title="{{ resume.hr_fio}}">
                    {{ resume.hr_fio }}
                </p>
            </div>
            <div class="inf_hr_history">
                <img src="/static/icons/history.svg" alt="">
                <p class="gray-color" id="hr_time" data-time="{{ resume.creation_date }}" title="{{ resume.creation_date }}">
                </p>
            </div>
            <div class="inf_hr_history">
                <img src="/static/icons/chat.svg" alt="">
                <p class="gray-color">{{ resume.comment }}</p>
            </div>

            <div class="info-pills">
                <a href="/resume/edit/{{ resume.id }}" class="w100 resume_inf_block gray-color right">
                    <p>Редактировать</p>
                    <img src="/static/icons/edit.svg" alt="">
                </a>
                {% if resume.glass == 6 %}
                    <button class="w100 resume_inf_block right btn" onclick="confirmProject(event, {{ resume.id }})">Вывести на проект</button>
                {% endif %}
                    <button class="w100 resume_inf_block right btn btn_red" onclick="confirmProject(event, {{ resume.id }})">Удалить резюме</button>
            </div>
            
        </div>
        <div class="files">
            <p class="h1">Файлы</p>
            <form method="POST" action="{{ url_for('resume', resume_id=resume.id) }}" enctype="multipart/form-data">
                <div class="info-block">
                    <!-- Отладка: выводим список файлов -->
        
                    {% for i in range(1, 4) %}

                        <div class="info-pills">
                            <div class="resume_inf_block">
                                {% set file = files(db,  resume.id, i) %}
                                {% if file[0] %}
                                    <div class="circle circle_blue"></div>
                                {% else %}
                                    <div class="circle circle_gray"></div>
                                {% endif %}
                                
                                <p>
                                    {% if i == 1 %}
                                        Скрининг
                                    {% elif i == 2 %}
                                        Результат собеседования
                                    {% elif i == 3 %}
                                        Оффер
                                    {% endif %}
                                </p>
                                <img src="/static/icons/download.svg" alt="download">
                            </div>
                            <div class="resume_inf_block attach">
                                {% if file %}
                                    <a href="..\{{ file[0] }}" target="_blank" class="blue-color">Открыть файл</a>
                                {% else %}
                                    <input type="file" name="file_{{ i }}" id="file_{{ i }}" onchange="updateButtonText({{ i }})" style="display: none;">
                                    <button type="button" id="button_{{ i }}" class="gray-color" onclick="document.getElementById('file_{{ i }}').click();">Выбрать</button>
                                    <button type="submit" id="button_{{ i }}_2" class="gray-color" style="display: none;">Прикрепить</button>
                                {% endif %}
                                <img src="/static/icons/upload.svg" alt="upload">
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </form>
        </div>
        <!-- <div class="container">
            <div class="table-header">
                Данные пользователей
            </div>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Имя</th>
                        <th>Фамилия</th>
                        <th>Email</th>
                        <th>Статус</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.surname }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <span class="status {% if user.status == 1 %}active{% else %}inactive{% endif %}">
                                {% if user.status == 1 %}Активен{% else %}Не активен{% endif %}
                            </span>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
     -->
        
    </div>
<style>
            .container {
            width: 90%;
            max-width: 1200px;
            background-color: #ffffff;
            border-radius: 12px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            overflow: hidden;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px;
        }

        th, td {
            padding: 12px 18px;
            text-align: left;
            font-size: 16px;
        }

        th {
            background-color: #007bff;
            color: #ffffff;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        tr:nth-child(even) {
            background-color: #f4f4f9;
        }

        tr:hover {
            background-color: #f1f1f1;
        }

        td {
            border-bottom: 1px solid #ddd;
        }

        .status {
            padding: 6px 12px;
            border-radius: 8px;
            color: #fff;
            font-weight: bold;
        }

        .status.active {
            background-color: #28a745;
        }

        .status.inactive {
            background-color: #dc3545;
        }

        .table-header {
            padding: 20px;
            background-color: #007bff;
            color: #ffffff;
            font-size: 24px;
            text-align: center;
            text-transform: uppercase;
        }
    .skill.skill_del:hover{
        background-color: #F7F9FC;
        color: black;
        cursor: default;
    }
</style>
    <script>
        // Функция, которая будет форматировать время
        document.addEventListener('DOMContentLoaded', function () {
            const timeElements = document.querySelectorAll('#hr_time');
    
            timeElements.forEach(element => {
                const time = element.getAttribute('data-time'); // Дата в атрибуте
                const formattedTime = moment(time).fromNow(); // Форматируем время в "час назад", "два дня назад"
    
                element.innerText = formattedTime; // Показываем отформатированное время
            });
        });

        // Функция для изменения текста кнопки
        function updateButtonText(i) {
            const fileInput = document.getElementById(`file_${i}`);
            const button = document.getElementById(`button_${i}`);
            const button2 = document.getElementById(`button_${i}_2`);

            if (fileInput.files.length > 0) {
                button.style.display = 'none';
                button2.style.display = 'block';
            } else {
                button2.style.display = 'none';
                button.style.display = 'block';
            }
        }
    </script>
{% endblock %}