{% extends 'base.html' %}

{% block title %}Страница регистрации{% endblock %}

{% block content %}
<div class="right_block">
    <form class="candidate" action="{{ url_for('signup') }}" method="post" style="display: flex; flex-direction: column; gap: 24px;">
        <div class="info-pills">
            <h1>Регистрация</h1>
            <a href="/signin" class="resume_inf_block bk-black">Войти в аккаунт</a>
        </div>
        <div class="info-pills">
            <div class="resume_inf_block gray-color">
                <label for="surname">Фамилия:</label>
                <input type="text" id="surname" name="surname" required>
            </div>
            <div class="resume_inf_block gray-color">
                <label for="name">Имя:</label>
                <input type="text" id="name" name="name" required>
            </div>
        </div>
        <div class="info-pills">
            <div class="gray-color resume_inf_block">
                <label for="patronymic">Отчество:</label>
                <input type="text" id="patronymic" name="patronymic">
            </div>
            <!--Пустой блок-->
            <div class="bk-white resume_inf_block"></div>
        </div>
        <div class="info-pills">
            <div class="gray-color resume_inf_block">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="gray-color resume_inf_block">
                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password" required>
            </div>
        </div>
        <button class="resume_inf_block bk-blue right" type="submit">Зарегистрироваться</button>
    </form>
    <div class="files">
        <p class="h1 black-color">Информация</p>
        <div class="info-block">
            <div class="advice gray-color">
                <img src="/static/icons/info.svg" alt="">
                <p>Для доступа к сайту необходимо войти в аккаунт HR-а.</p>
            </div>
            <div class="advice gray-color">
                <img src="/static/icons/info.svg" alt="">
                <p>Верификация подтверждает вашу принадлежность к компании Технологии Надежности и разрешает использовать этот сервис.</p>
            </div>
            <div class="advice gray-color">
                <img src="/static/icons/info.svg" alt="">
                <p>После регистрации мы проверим ваши данные. Если все в порядке, мы верифицируем ваш аккаунт. После этого вы сможете войти на сайт и использовать канбан-доску.</p>
            </div>
            <div class="advice gray-color">
                <img src="/static/icons/info.svg" alt="">
                <p>Аккаунты, не прошедшие верификацию, будут заблокированы.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}