{% extends 'base.html' %}

{% block title %}Страница регистрации{% endblock %}

{% block content %}
    <h1>Страница регистрации</h1>
    <form action="{{ url_for('signup') }}" method="post" style="display: flex; flex-direction: column; gap: 8px;">
        <label for="name">Имя:</label>
        <input type="text" id="name" name="name" required>

        <label for="surname">Фамилия:</label>
        <input type="text" id="surname" name="surname" required>

        <label for="patronymic">Отчество:</label>
        <input type="text" id="patronymic" name="patronymic">

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Зарегистрироваться</button>
    </form>
{% endblock %}